table {
    background-color: #0c0038;
    color: white
}

h1, h2, h3, h4, h5, h6, p, a, li, td, th, label {
    color: white
}

#text {
    color: white
}

div {
    color: white
}

.alert p{
    color: rgb(0, 0, 0)
}




#myInstance1 {
    border: 2px dashed #0000ff;
}
.nicEdit-selected {
    border: 2px solid #0000ff !important;
}

.nicEdit-panel {
    background-color: #fff !important;
}

.nicEdit-button {
    background-color: #fff !important;
}